.t-main {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.t-entry {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1em;
  text-align: left;
  background: $gray-matter;
  border-radius: 8px;

  button {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  @media all and (min-width: 864px) {
    min-width: calc(50% - 2rem);
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #a9c3d7;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #455f73;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: scale-color(#455f73, $lightness: -25%, $alpha: 1);
  }
}
.t-image-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: $box-shadow;
  transition: background-color 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  background-color: $gray-matter;

  &:focus {
    outline: 3px dotted currentColor;
    outline-offset: 2px;
  }

  &:hover {
    background-color: hsl(60, 33%, 100%);
  }

  p {
    margin: 0 0 0 2px;
    color: #1b1b1b;
    font-size: 0.8em;
    text-decoration: none;
  }
}

.t {
  margin-left: auto;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  fill: #00aced;
}
.t-image {
  flex: 0 0 auto;
  width: 3em;
  height: 3em;

  border-radius: 50%;
}

.t-body {
  display: flex;
  flex-direction: column;
  padding-left: 1.25em;
  position: relative;
}

.t-name {
  margin: 0 0.5em;
  font-size: 1em;
  color: #000;
  line-height: 1.1;
  text-decoration: none;
  text-align: left;
}

.t-handle {
  align-items: center;
  display: flex;
  flex: 1;
  margin-top: 0.25em;
  position: relative;
  width: fit-content;

  border-bottom: 1px solid transparent;
  color: $black;
  line-height: 1;
  overflow: hidden;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #00aced;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  & > img {
    height: 1.5em;
    width: 1.5em;
    object-fit: cover;
    vertical-align: middle;
  }

  &:focus:before,
  &:hover:before,
  &:active:before {
    left: 0;
    right: 0;
  }
}

.t-modal {
  display: flex;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  &-item {
    max-width: 30rem;
    max-height: calc(100vh - 2rem);
    padding: 2rem;
    margin: 3rem 1rem 1rem;
    background: $gray-matter;
    border-radius: 8px;
    overflow: auto;
  }

  &__header {
    display: flex;
    align-items: center;

    h3,
    p {
      line-height: 1.1;
    }
    .t-image {
      width: 4em;
      height: 4em;
      margin-right: 0.5rem;
    }
  }
}

.t-subheader {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 85%;

  & + blockquote {
    padding: 1rem;
    background: hsl(60, 33%, 75%);
    border-radius: 8px;
    a {
      color: currentColor;
    }
  }
}

.follow-link {
  display: inline-block;
  padding: 0.25rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: #ffffff;
  background-color: #00aced;
  text-decoration: none;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: hsl(196, 100%, 16%);
  }

  svg {
    height: 0.75rem;
    width: 0.75em;
    fill: $gray-matter;
  }
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.25rem 0.5rem;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.75;
  }
}
