.t-main {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.t-entry {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1em;

  background: $gray-matter;
  border: 1px solid $black;
  border-radius: 8px;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #a9c3d7;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #455f73;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: scale-color(#455f73, $lightness: -25%, $alpha: 1);
  }
}
.t-image-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1em;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.35);
    transition: all 0.2s ease-in-out;
    p {
      color: #00aced;
      transition: all 0.2s ease-in-out;
    }
  }
  &:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
    transition: all 0.2s ease-in-out;
  }
  p {
    margin-left: auto;
    color: #1b1b1b;
    font-size: 0.9em;
    text-decoration: none;
  }
}
.t-image {
  flex: 0 0 auto;
  width: 3em;
  height: 3em;

  border-radius: 50%;
}

.t-body {
  display: flex;
  flex-direction: column;
  padding-left: 1.25em;
  position: relative;
}

.t-name {
  margin: 0 0.5em;
  font-size: 1.25em;
  color: #000;
  line-height: 1.1;
  text-decoration: none;
}

.t-handle {
  align-items: center;
  display: flex;
  flex: 1;
  margin-top: 0.25em;
  position: relative;
  width: fit-content;

  border-bottom: 1px solid transparent;
  color: $black;
  line-height: 1;
  overflow: hidden;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #00aced;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  & > img {
    height: 1.5em;
    width: 1.5em;
    object-fit: cover;
    vertical-align: middle;
  }

  &:focus:before,
  &:hover:before,
  &:active:before {
    left: 0;
    right: 0;
  }
}
