.t-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.t-entry {
    // align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 125px;
    // flex: 1;
    // justify-content: center;
    margin: 20px;
    position: relative;
    padding: 2em 2em 0;
    width: calc(50% - 40px);
    // flex: 0 0 1;

    // justify-content: center;
    // width: 500px;
    background: var(--gray-matter);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    // padding: 25px;
}

.t-top {
    align-items: center;
    display: flex;
    margin-bottom: 2em;


}

.t-image {
    height: 75px;
    // flex: 0 0 auto;
    width: 75px;
    // position: relative;
    // z-index: 2;


    border-radius: 50%;
    // transform: translateX(-40px);
}

.t-body {
    display: flex;
    flex-direction: column;
    // padding: .5em;
    padding-left: 1.25em;
    position: relative;



    // To connect the area between the img and body
    // &:before {
    //     content: "";
    //     height: 100%;
    //     left: -100px;
    //     position: absolute;
    //     top: 0;
    //     width: 100px;

    //     background: var(--gray-matter);
    // }
}

.t-name {
    margin: 0;

    font-size: 1.5em;
    line-height: 1.2;
}

.t-affiliation {
    margin-top: 0;
    color: #000;
    text-decoration: none;
}

.t-footer {
    // margin-top: auto;

    bottom: 0;
    left: 0;
    display: flex;
    margin-left: -2em;
    margin-top: auto;

    // position: absolute;
    width: calc(100% + 4em);

    >* {
        flex: 1;
        text-align: center;
    }
}

.t-button {

    padding: .5em;

    background: var(--light-blue);
    border: none;

    color: #000;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .8em;
    text-decoration: none;
    transition: .2s ease-out;

    &:first-child {
        border-bottom-left-radius: 8px;
    }

    &:last-child {
        border-bottom-right-radius: 8px;
    }

    &:hover,
    &:focus {
        background: scale-color($color:#a9c3d7, $lightness: -50%);
    }
}

.t-bio {
    display: none;
}