:root {
    --blue: #455f73;
    --gray-matter: #f7f7ef;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

@media all and (min-width: 992px) {
    html {
        font-size: 1.2em;
    }
}

* {
    box-sizing: border-box;
}

.t-container {
    margin: 0 auto;
    max-width: 864px;
}

.t-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    h1 {
        font-family: 'Adobe Garamond Pro', 'Hoefler', Georgia, 'Times New Roman', Times, serif;
        font-size: 3em;
        margin-block-end: .25em;
    }
    p {
        font-size: 1.2em;
        margin-block-start: 0;
    }
    a {
        margin-top: 25px;
        padding: 15px 20px;


        background: var(--blue);
        border-radius: 8px;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }
}

@import 'card';