:root {
    --blue: #455f73;
    --light-blue: #a9c3d7;
    --gray-matter: #f7f7ef;
    --black: #17170c;
    --manuscript: #ffffd7;
    --volta: #b2b247;
    --hss: #666633;

    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: var(--hss);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.6;
}

@media all and (min-width: 864px) {
    html {
        font-size: 1.2em;
    }
}

.t-bg {
    margin: 0 auto;
    max-width: calc(864px + 1em);
    padding: 1em;

    background: var(--gray-matter);
}

.t-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    background: var(--volta);
    margin: 0 auto;
    max-width: 864px;
    min-height: 100vh;
}

.t-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;

    background: var(--blue);
}

.t-join {
    padding: .5em 2em;
    position: relative;

    color: var(--gray-matter);
    text-decoration: none;

    &:focus,
    &:hover {
        background: scale-color(#455f73, $lightness: -25%)
    }
}

.t-join:hover .t-shake {

    transform: rotate(15deg);

}

.t-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    margin-bottom: 0;
    padding: 2em;

    background: var(--gray-matter);
    border: 1px solid var(--black);
    border-radius: 8px;
    box-shadow: var(--box-shadow);

    h1 {
        font-family: 'Adobe Garamond Pro', 'Hoefler', Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5em;
        margin-block-end: .25em;
        margin-block-start: .25em;

        line-height: 1.1;
        text-align: center;
    }

    p {
        font-size: 1.2em;
        margin-block-end: .25em;
        margin-block-start: 0;
    }

}

.t-search {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 2em 1em;
    margin: 2em 0;

    background: #666633;
    color: var(--gray-matter)
}

.t-search-container {
    align-items: center;
    display: flex;
    flex: 1;

}

.t-search-box {
    border: none;
    border-bottom: 1px solid var(--volta);
    color: var(--gray-matter);
    margin: 0 10px 0 25px;
    width: 75%;
    // padding: 5px .5em;


    background: #666633;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;

    &::placeholder {
        color: #ddd;
        text-transform: uppercase;
        font-size: small;
    }
}

.t-toggle {
    padding: .25em .5em;
    width: 100px;

    background: var(--gray-matter);
    border: 1px solid var(--black);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    color: var(--black);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    transition: transform 0.6s ease-out;
    outline: none;

    &:focus,
    &:hover {
        background: scale-color(#f7f7ef, $lightness: -25%)
    }

}

@import 'card';