:root {
    --blue: #455f73;
    --light-blue: #a9c3d7;
    --gray-matter: #f7f7ef;
    --black: #17170c;
    --manuscript: #ffffd7;
    --volta: #b2b247;
    --hss: #666633;

    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.t-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background: var(--volta);
    font-size: 16px;
    margin: 0 auto;
    max-width: 864px;
    min-height: 100vh;

    >a {
        color: var(--black);
        &:hover,
        &:visited {
            color: inherit;
        }
    }

}

.t-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    margin-bottom: 0;
    padding: 2em;

    background: var(--gray-matter);
    border: 1px solid var(--black);
    border-radius: 8px;
    box-shadow: var(--box-shadow);

    h1 {
        font-family: 'Adobe Garamond Pro', 'Hoefler', Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5em;
        margin-block-end: .25em;
        margin-block-start: .25em;

        text-align: center;
    }

    p {
        font-size: 1.2em;
        margin-block-end: .25em;
        margin-block-start: 0;
    }

    // a {
    //     margin-top: 25px;
    //     padding: 15px 20px;


    //     background: var(--blue);
    //     border-radius: 8px;
    //     color: var(--gray-matter);
    //     font-weight: 600;
    //     text-decoration: none;
    // }
}

.t-search {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 2em 1em;
    margin: 2em 0;

    background: #666633;
    color: var(--gray-matter)
}

.t-search-container {
    align-items: center;
    display: flex;
    flex: 1;

}

.t-search-box {
    border: none;
    border-bottom: 1px solid var(--volta);
    color: var(--gray-matter);
    margin: 0 10px 0 25px;
    width: 75%;
    // padding: 5px .5em;


    background: #666633;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;

    &::placeholder {
        color: #ddd;
        text-transform: uppercase;
        font-size: small;
    }
}

.t-join {
    margin-top: 1em;
    padding: .5em 2em .5em .75em;
    position: relative;


    background: var(--blue);
    border-radius: 8px;
    color: var(--gray-matter);
    text-decoration: none;

    &:focus,
    &:hover {
        background: scale-color(#455f73, $lightness: -25%)
    }
}

.t-toggle {
    padding: .25em .5em;
    width: 100px;

    background: var(--gray-matter);
    border: 1px solid var(--black);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    color: var(--black);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    transition: transform 0.6s ease-out;
    outline: none;

    &:focus,
    &:hover {
        background: scale-color(#f7f7ef, $lightness: -25%)
    }

}

.t-shake {
    position: absolute;
    bottom: .5em;
    right: .25em;
    transition: transform .2s ease-in-out;


}

.t-join:hover .t-shake {

    transform: rotate(15deg);

}



@import 'card';